*.egg-info
*.json
*.log
*.svg
*.png
*.swp
.vagrant
.vscode
__pycache__
draft/*

!throughput_visual/test.json
!draft/draft-clinic-ipv6-ext-hdr-bench-method-00
!draft/final.pdf
!draft/final.ps
!draft/final.txt
